body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
     display: flex;
     flex-direction: row;
}

video {
    width: 640px;
    height: 480px;
    background-color: #eee;
}

canvas {
    display: none; /* Ẩn canvas */
}
#camera {
  width: 70%; /* Camera chính chiếm 70% chiều rộng */
}
#imageContainer {
   width: 30%; /* Khung hình chụp chiếm 30% chiều rộng */
  height: auto; /* Tự động điều chỉnh chiều cao */
}

#imageContainer img {
    max-width: 100%;
  max-height: 100%;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
