body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

video {
    width: 640px;
    height: 480px;
    background-color: #eee;
}

canvas {
    display: none; /* Ẩn canvas */
}

#imageContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
}

#imageContainer img {
    max-width: 100%;
    height: auto;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
